html{
    box-sizing: border-box;
}

*, *::before,
::after {
    box-sizing: inherit;
}
.container {
    width: 901px;
    margin: 0 auto;
    background-color: white;
}

.siteNavigation li:not(:last-child) {
    margin-right: 120px;
}

.siteNavigation li{
    display: inline-block;
    font-style: normal
}

.siteNavigation a {
    text-decoration: none;
    text-transform: uppercase;
}

.siteNavigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}