html{
    box-sizing: content-box;
}

*, *::before,
::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.container {
    width: 1114px;
    margin: 0 auto;
    background-color: white;
}

/* SITE NAVIGATION BLOCK STYLE */

.site-navigation {
    margin-top: 38px;
    margin-bottom: 105px;
}

.site-navigation .logo-link {
    margin-top: 4px;
    width: 78px;
    height: 21px;
    float: left;
}

.navigation-list a {
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
}

.navigation-list a:hover {
    color: #1abc9c;
}

.navigation-list a:focus {
    color: #1abc9c;
}

.navigation-item {
    float: left;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 22px;
    list-style-type: none;
    font-family: "Open sans";
    font-size: 14px;
    line-height: 11px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.navigation-item:nth-child(1) {
    padding-left: 0px;
}

.navigation-list a {
     display: block;
     text-transform: uppercase;
     text-decoration: none;
 }

 /* FIRST TITLE STYLE */

.first-title h2 {
    text-align: center;
    color: #515151;
    font-family: "Roboto - Black", sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.first-title h2:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 164px;
    background: #1abc9c;
    left: 43%;
    bottom: -32px;
}

/* FETURED PRODUCTS BLOCK STYLE */

.product-list {
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.cart {
    width: 255px;
    height: 322px;
    float: left;
    margin: 0;
    padding-bottom: 6px;
    background: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, .2);
}
  
.cart-img-wrp {
    overflow: hidden;
    height: 283px;
    line-height: 283px;
    text-align: center;
}

.cart-img {
    vertical-align: middle;
}

.cart-text-wrp {
    height: calc(322px - 283px);
    line-height: calc(322px - 283px);
    background: #323232;
    overflow: hidden;
    margin-bottom: 6px;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.product-name {
    padding-left: 14px;
}
.product-price {
    float: right;
    background: #8c8c8c;
    padding: 0 12px;
    transition-duration: 0.3s;
}
.cart:hover .cart-text-wrp {
    background: #1abc9c;
}
.cart:hover .product-price {
    background: #7fd9c7;
}

.featured-list .product-list img {
    line-height: 0;
    text-align: center;
}

.product-list .product-price:hover {
    background-color: #1abc9c;
    opacity: 0.44;
}

.product-list .product-price:focus {
    background-color: #1abc9c;
    opacity: 0.44;
}

.product-list .product-picture {
    padding: 20px;
    width: 216px;
    height: 250px;
}

.menu-item {
    float: left;
    height: 322px;
    width: 256px;
    margin-top: 84px;
    margin-left: 30px;
}

.menu-item:nth-child(1) {
    margin-left: 0;
}

.menu-item:nth-child(5) {
    margin-left: 0;
}

/* SECOND TITLE STYLE */

.second-title h2 {
    margin: 0;
    padding-top: 105px;
    text-align: center;
    color: #515151;
    font-family: "Roboto - Black", sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.second-title h2:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 164px;
    background: #1abc9c;
    left: 43%;
    bottom: -32px;
}

/* LATEST NEWS BLOCK STYLE */

.latest-news {
    padding-top: 110px;
}

.latest-news section {
    margin-left: 30px;
    float: left;
    width: 348px;
}

.latest-news section:nth-child(1) {
    margin-left: 0;
}

.news-cards img {
    width: 346px;
    height: 260px;
}

.news-cards p {
    margin: 0;
    margin-top: 30px;
    padding-bottom: 16px;
    color: #555252;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.latest-news .news-cards h5 {
    margin: 0;
    padding-top: 14px;
    color: #555252;
    font-family: "Open Sans - Semibold";
    font-size: 18px;
    line-height: 26px;
}

.latest-news .news-cards h5:after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 136px;
    background-color: #1abc9c;
}

/* BUTTON STYLE */

.btn {
    font-family: "open sans";
    font-weight: 300;
    color: white;
    margin-left: 215px;
    margin-bottom: 82px;
    font-size: 14px;
    border-radius: 2px;
    border: 0 solid black;
    background-color: #4ec6ab;
    padding: 19px 43px
}

.btn:nth-child(1) {
    margin-left: 0;
}