html{
    box-sizing: border-box;
}

*, *::before,
::after {
    box-sizing: inherit;
}
.container {
    width: 901px;
    margin: 0 auto;
    background-color: white;
}

.page-nav {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    margin-top: 76px;
    margin-bottom: 100px; 
}

.siteNavigation li:nth-child(1) {
    margin-left: 163px;
    margin-right: 120px;
}

.siteNavigation li:nth-child(2) {
    margin-left: 0;
    margin-right: 100px;
}

.siteNavigation li:nth-child(3) {
    margin-left: 0;
    margin-right: 92px;
}

.siteNavigation li:nth-child(4) {
    margin-left: 0;
    margin-right: 161px;
}

.siteNavigation li{
    display: inline-block;
    font-style: normal;
}

.siteNavigation a {
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}

.siteNavigation a:hover,
.siteNavigation a:focus {
    color: blue;
}

.siteNavigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

/*features list item*/

.features-list {
    font-size: 0;
    padding: 0;
    list-style: none;
    margin: 0;
}

.features-list-item {
    padding: 0;
    display: inline-block;
    margin-right: 59px;
    width: 421px;
    font-size: 30px;
    margin-bottom: 116px;
}

.features-list-item p {
    font-size: 14px;
    color: #626262;
    margin-top: 0;
}

.features-list-item h3 {
    margin-top: 0;
    margin-bottom: 35px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.features-list-item img {
    margin-bottom: 27px;
    font-size: 0;
}

.features-list-item h5 {
    margin-top: 0;
    margin-bottom: 28px;
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
}

.features-list-item:nth-child(2n) {
    margin-right: 0;
}

button {
    position: relative;
    color: black;
    font-size: 135%;
    font-weight: 0;
    text-decoration: none;
    padding: .25em .5em;
  }

  .wrap{
    position:relative;
    width:300px;
    height:225px;
  }

  .button {
    width: 901px;
    margin: 0 auto;
    background-color: white;
    width: 161px;
    height: 64px;
    margin-bottom: 70px;
  }

  .button-board{
    position:absolute;
    width:160px;
    height: 65px;
  }
   
  .button-text{
    position:center;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 23px;
    padding-bottom: 23px;
  }