html{
    box-sizing: border-box;
}

*, *::before,
::after {
    box-sizing: inherit;
}
.container {
    width: 901px;
    margin: 0 auto;
    background-color: white;
}

.page-nav {
    text-align: center;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    padding-top: 76px;
    padding-bottom: 100px; 
}

.siteNavigation li:nth-child(4) {
    margin-left: 0px;
    padding-right: 127px;
} 

.siteNavigation li{
    padding-left: 127px;
    display: inline-block;
    font-style: normal;
}

.siteNavigation a {
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}

.siteNavigation a:hover,
.siteNavigation a:focus {
    color: blue;
}

.siteNavigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

/*features list item*/

.features-list {
    font-size: 0;
    padding: 0;
    list-style: none;
    margin: 0;
}

.features-list-item {
    vertical-align: top;
    padding: 0;
    display: inline-block;
    margin-right: 59px;
    width: 421px;
    font-size: 30px;
    margin-bottom: 116px;
}

.features-list-item p {
    display: inline-block;
    text-align: left;   
    font-size: 14px;
    color: #626262;
    margin-top: 0;
}

.features-list-item h3 {
    margin-top: 0;
    margin-bottom: 35px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.features-list-item img {
    display: block;
    line-height: 0;
    width: 420px;
    height: 280px;
    margin-bottom: 30px;
    font-size: 0;
}

.features-list-item h5 {
    margin-top: 0;
    margin-bottom: 28px;
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
}

.features-list-item:nth-child(2n) {
    margin-right: 0;
}

button {
    margin: 0 auto;
    display: block;
    text-align: center;
    outline: 1px;
    outline-color: black;
    outline-style: solid;
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 34px;
    padding-right: 34px;
    background: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 70px;
}